<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494879929657-ekms9e7mgq3rbvbojgp99ghlphnaldel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494879929657-ekms9e7mgq3rbvbojgp99ghlphnaldel</string>
	<key>API_KEY</key>
	<string>AIzaSyANB0lR0BCA80NpJlj6lcvrT0Ni6d1v4qE</string>
	<key>GCM_SENDER_ID</key>
	<string>494879929657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>cap-vue-account</string>
	<key>STORAGE_BUCKET</key>
	<string>cap-vue-account.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494879929657:ios:64662e75c518a7b96fe4e8</string>
	<key>DATABASE_URL</key>
	<string>https://cap-vue-account-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>